body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-header {
    margin-bottom: 20px;
}

.feed {
    border: 10px;
}

.feed-item {
   margin-bottom: 20px;
   padding: 10px;
   box-shadow: 5px 5px 5px 5px #EEEEEE;
   -webkit-box-shadow: 5px 5px 5px 5px #EEEEEE;
   overflow: auto;
}

.item-img-box {
    float: left;
    //width: 150px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
    background: #F0F0F0;
    margin-bottom: 10px;

}

/* Clear floats after the columns */
.item-body:after {
  content: "";
  display: table;
  clear: both;
}

.field-header:before {
  content: "";
  display: table;
  clear: both;
}

.field-header {
    margin-bottom: 5px;
}

.item-img-url {
    margin-bottom: 10px;
    width: 100%
}

.item-host {
    font-size: 14px;
    color: grey;
}

.item-link {
    color: darkblue;
    text-decoration: none;
    font-size: 120%;
    width: 100%
}

.item-img {
    height: 100px;
}

.activities-summary {
    padding-top: 5px;
}

.list-header {
    padding-top: 10px
}

.item-comments {
    padding-top: 10px;
}

.item-comment {
    padding-top: 10px;
}

.item-saves {
   padding-top: 10px;
}

.item-likes {
   padding-top: 10px;
}

.item-comment-text{
   /* outline: #dddddd dashed 1px; */
   background-color: #EAEBE0;
   border: 20px;
   padding: 5px;
   padding-right: 12px;
   border-radius: 6px;
   font-family: "Lucida Console", "Courier New", monospace;
}

.comment {
    padding-top: 10px
}

.item-attribution {
    font-size: 14px;
    color: grey;
}


.item-desc-edit {
    width: 100%;
    height: 200px;
}

.comment-text-edit {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.action-img {
    width: 15px;
    height: 15px;
}

.activity-item {
    font-size: 14px;
    color: grey;
}

.delete-entity {
    cursor: pointer;
}


.tags-text {
    margin-bottom: 10px;
    width: 100%
}

.edit-item-body {
    margin-top: 10px;
}

.tag {
    font-size: 12px;
    color: grey;
    background-color: #EAEBE0;
    font-weight: bold;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    //font-family: "Lucida ConsoleTimes", "Courier New", monospace;
}

.tags {
    padding-bottom: 10px;
}

.item-tag {
    padding-top: 8px;
}

.error {
    color: red;
}

.delete-button {
    float: right;
}

.highlight {
    border-bottom: 2px solid lightgrey;
}

.delete-button {
    color: red;
}

