/filestore
*.pub
/entitystore/*.test.*
/var-solr/data/*.opencola
/var-solr/data/opencola/data/
/var-solr/data/configsets/opencola/conf/managed-schema
/storage/var-solr/data/configsets/opencola/conf/managed-schema
/var-solr/logs/
/var-postgres
*.txs
*.pks
*.db
/mht-cache
/lucene
