/* Nav bar styles */

.nav-bar {
    --gap: .5rem;
    padding: .5rem;
    background-color: var(--feed-item-bg-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap, .5rem);
    min-width: 320px;

    > .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap, .5rem);
    }

    @media (max-width: 32rem) {
        .search-wrapper {
            order: 1;
            width: 100%;
        }
    }
}

.logo {
    width: 4rem;
}

.nav-bar .persona-select {
    border: var(--border-size) solid var(--border-color);
    cursor: pointer;
    font-size: 1rem;
}

.search-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    --pad-value: .5rem;
    --radius-value: 2rem;
    width: max(2rem, 30vw + 1rem);

    & .form-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    & .button {
        border: var(--border-size) solid var(--border-color);
        padding: var(--pad-value, .5rem);
        border-top-left-radius: var(--radius-value, 1rem);
        border-bottom-left-radius: var(--radius-value, 1rem);
    }

    & .text-input {
        border: var(--border-size) solid var(--border-color);
        border-top-right-radius: var(--radius-value, 1rem);
        border-bottom-right-radius: var(--radius-value, 1rem);
        border-left: none;
        padding: 0rem var(--pad-value, .5rem);
        width: 100%;
    }
}

.header-actions {
    margin-left: auto;

    & > .container {
        display: flex;
        gap: var(--gap, .5rem);
    }

    & .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }

    & .icon {
        height: 75%;
    }
}

.menu {
    > .overlay[data-visible=true] {
        position: fixed;
        z-index: 9997;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.3);
    };

    > .container[data-visible=true] {
        position: fixed;
        inset: 0 0 0 auto;
        background-color: var(--feed-item-bg-color);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        width: max(200px, 20vw + 2rem);
        z-index: 9998;
    };

    & .menu-control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
        }
    }

    & .title {
        font-size: 1.5rem;
        margin-left: .5rem;
    }
}

.menu-item {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: .5rem;

    & .icon {
        height: 75%;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--button-hover-bg-color);
    }
}

.persona-menu-wrapper {
    position: relative;

    > .submenu {
        position: absolute;
        border: 1px solid black;
        height: 100px;
        width: 100px;
    }

    & .button-wrap {
        display: flex;
        align-items: center;
        border: 1px solid black
    }

    & .icon {
        --size: 2rem;
        background-color: black;
        display: inline-block;
        flex-shrink: 0;
        width: var(--size);
        height: var(--size);
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        vertical-align: middle;
    }
}

/* Feed styles */

.feed-list {
    > .list-item {
        padding: 1rem;
        margin: 0 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        box-shadow: 5px 5px 5px 5px var(--shadow-color);
        -webkit-box-shadow: 5px 5px 5px 5px var(--shadow-color);
    }
}

.posted-by {
    display: flex;
    align-items: center;
    gap: 1rem;

    > .authority {
        cursor: pointer;
        font-size: 1rem;
    }

    > .posted-by-img {
        width: 2rem;
    }
}

.item-name {
    font-size: 1.3rem;

    > .item-link {
        color: darkblue;
    }

    > .item-host {
        font-size: 1rem;
        color: grey;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.tag {
    font-size: .7rem;
    color: grey;
    background-color: #EAEBE0;
    border-radius: 10px;
    padding: .2rem .5rem;
    cursor: pointer;
}

.item-body {
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding: .3rem;

    & .item-img {
        width: 100%;
    }
}

.activities-summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.persona-select {
    border: solid 1px black;
}

.activity-buttons {
    --br-value: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    > .attachment-wrapper {
        display: flex;
    }

    > .edit-button {
        display: flex;
        align-items: center;
        padding: .2rem;
        border-radius: var(--br-value, 1rem);

        > .action-img {
            width: 1.3rem;
        }
    }
}

.action-wrapper {
    display: flex;
    
    > .action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        padding: .2rem .5rem;
        border: 1px solid gray;
        border-top-left-radius: var(--br-value, 1rem);
        border-bottom-left-radius: var(--br-value, 1rem);
    }

    > .action-toggle-button {
        display: flex;
        align-items: center;
        padding: .2rem .2rem;
        border: 1px solid gray;
        border-left: none;
        border-top-right-radius: var(--br-value, 1rem);
        border-bottom-right-radius: var(--br-value, 1rem);
    }

    & .action-img {
        width: 1.1rem;
    }
}

.action-highlight {
    background-color: lightgray;
}

.item-comments {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.item-comment {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    & .edit-comment-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1rem;
        border-radius: 10rem;
    }

    & .action-img {
        width: 1rem;
    }
}

.item-attribution {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: grey;
}

.item-comment-text {
   background-color: var(--bg-color);
   padding: .1rem .5rem;
   border-radius: 1rem;
}

.item-comment-text[data-is-own-comment=true] {
    background-color: var(--own-comment-color);
}

.action {
    color: darkblue;
}

.item-desc-edit {
    width: 100%;
    height: 200px;
}

.item-comment-edit {
    background-color: var(--bg-color);
    padding: 10px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 10px;
 }
 
.comment-edit-control {
    margin-bottom: .5rem;
}

.comment-text-edit {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    resize: vertical;
}

.text-area {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 90px;
    resize: vertical;
}

.activity-item {
    font-size: 14px;
    color: grey;
}

.delete-entity {
    cursor: pointer;
}

.tag-cell {
    padding: 3px;
}

td {
    padding-right: 10px;
}

.item-tag {
    padding-top: 8px;
}

.error {
    color: var(--caution-color);
}

.delete-button {
    float: right;
}

.delete-button {
    color: var(--caution-color);
}

.tags-edit-control {
    margin-top: 10px;
}

/* Peer Styles */

.peer-list {
   > .list-item {
    
   }
}

.peer-img {
    width: 6rem;
}

.peer-field {
    width: 0px;
}

.id, .key, .uri{
    font-family: "Lucida Console", "Courier New", monospace;
}

.peer-info {
    width: 100%;
}

input.input-text {
    font-size: 1rem;
    padding: .1rem .5rem;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 1rem;

    &:disabled {
        color: var(--disabled-color);
    }
}

.edit-peer{
    padding-left: 30px;
}

.no-wrap {
    white-space: nowrap;
}

.edit-control-buttons {
    margin-top: 10px;
}

.preview-img {
    width: 95%;
    max-width: 100%;
}

.attachment-preview {
    font-size: small;
}

.preview-images {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-color);
}

/* Used by the SimpleMDE component */
.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
}