body {
    font-family: Arial, Helvetica, sans-serif;
}


.search-header {
    margin-bottom: 20px;
}

.search-header:after {
  content: "";
  display: table;
  clear: both;
}

.feed {
    border: 10px;
}

.feed-item {
   margin-bottom: 20px;
   padding: 10px;
   box-shadow: 5px 5px 5px 5px #EEEEEE;
   -webkit-box-shadow: 5px 5px 5px 5px #EEEEEE;
   overflow: auto;
}

.item-img-box {
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

/* Clear floats after the columns */
.item-body:after {
  content: "";
  display: table;
  clear: both;
}

.field-header:before {
  content: "";
  display: table;
  clear: both;
}

.field-header {
    margin-bottom: 5px;
}

.item-img-url {
    margin-bottom: 10px;
    width: 100%
}

.text-input {
    width: 100%;
}

.text-area {
    width: 100%;
}

.item-host {
    font-size: 14px;
    color: grey;
}

.item-link {
    color: darkblue;
    text-decoration: none;
    width: 100%
}

.item-name {
    font-size: 120%;
    width: 100% 
}

.item-img {
    height: 100px;
}

.activities-summary {
    padding-top: 5px;
}

.item-comments-footer {
    padding-top: 10px;
}

.item-comment {
    padding-top: 10px;
}



.item-comment-container {
}


.item-comment-edit {
   background-color: #EAEBE0;
   padding: 10px;
   padding-left: 8px;
   padding-right: 14px;
   border-radius: 10px;
}

.item-comment-text {
   background-color: #EAEBE0;
   padding: 1px;
   padding-left: 7px;
   padding-right: 7px;
   border-radius: 10px;
}

.comment {
    padding-top: 10px
}

.item-attribution {
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}


.item-uri-edit-control {
    margin-top: 10px;
}

.item-desc-edit {
    width: 100%;
    height: 200px;
}

.comment-text-edit {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    resize: vertical;
}

.text-area {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 90px;
    resize: vertical;
}

.action-img {
    width: 15px;
    height: 15px;
}

.activity-item {
    font-size: 14px;
    color: grey;
}

.delete-entity {
    cursor: pointer;
}


.tags-text {
    margin-bottom: 10px;
    width: 100%
}

.edit-item-body {
    margin-top: 10px;
}

.tag {
    font-size: 12px;
    color: grey;
    background-color: #EAEBE0;
    font-weight: bold;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.tag-cell {
    padding: 3px;
}

td {
    padding-right: 10px;
}

.tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-tag {
    padding-top: 8px;
}

.error {
    color: red;
}

.delete-button {
    float: right;
}

.highlight {
    border-bottom: 2px solid lightgrey;
}

.delete-button {
    color: red;
}

.tags-edit-control {
    margin-top: 10px;
}

.header-actions {
    float: right;
    padding-top: 15px;
}

.header-icon {
    height: 20px;
}

.divider {
    height: 20px
}

.peer-item {
   margin-bottom: 20px;
   padding: 10px;
   box-shadow: 5px 5px 5px 5px #EEEEEE;
   -webkit-box-shadow: 5px 5px 5px 5px #EEEEEE;
   overflow: hidden;
}

.peer-img-box {
    float: left;
}

.peer-img {
    width: 100px;
}

.peer-field {
    width: 0px;
}

.peer-info {
    position: relative;
    left: -40px;
    padding-right: 20px;
    padding-left: 100px;
    width: 100%;
}

input.input-text {
    width: 100%;
}


.edit-peer{
    padding-left: 30px;
}

.id{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
}

.key {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
}

.uri {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
}

.search-input {
    width: 200px;
}

#persona-select {
    border: dotted 1px grey;
}

.no-wrap {
    white-space: nowrap;
}

.posted-by {
   font-size: 14px;
   color: grey;
   padding-top: 5px;
   padding-bottom: 5px;
}

.activity-block {
    margin-top: 10px;
    padding: 0px;
}

.action {
    color: darkblue;
}

.edit-control-buttons {
    margin-top: 10px;
}

.preview-img {
    max-width: 100%;
}

.attachment-link {
    text-decoration: none;
}

