/* Nav bar styles */

.nav-bar {
    --gap: .5rem;
    padding: .5rem;
    background-color: var(--app-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 320px;

    > .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap, .5rem);
    }

    @media (max-width: 34rem) {
        .search-wrapper {
            order: 1;
            width: 100%;
        }
    }
}

.logo {
    width: 4rem;
}

.nav-bar .persona-select {
    border: var(--border-size) solid var(--border-color);
    cursor: pointer;
    font-size: 1rem;
}

.left-nav {
    min-width: 11rem;
}

.search-wrapper {
    display: flex;
    margin-left: auto;
    align-items: center;
    --pad-value: .4rem;
    --radius-value: 2rem;
    width: max(2rem, 30vw + 1rem);

    & .form-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    & .search-button {
        --icon-size: 1.5rem;
        border: var(--border-size) solid var(--border-color);
        padding: var(--pad-value, .5rem);
        border-top-left-radius: var(--radius-value, 1rem);
        border-bottom-left-radius: var(--radius-value, 1rem);
    }

    & .text-input {
        border: var(--border-size) solid var(--border-color);
        border-top-right-radius: var(--radius-value, 1rem);
        border-bottom-right-radius: var(--radius-value, 1rem);
        border-left: none;
        padding: 0rem var(--pad-value, .5rem);
        width: 100%;
    }
}

.header-actions {
    margin-left: auto;
    & > .container {
        display: flex;
        gap: var(--gap, .5rem);
    }

    & .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
    }
}

.menu {
    > .overlay[data-visible=true] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.3);
    };

    > .container[data-visible=true] {
        position: fixed;
        inset: 0 0 0 auto;
        background-color: var(--app-background-color);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        width: max(200px, 20vw + 2rem);
    };

    & .menu-control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
        }
    }

    & .title {
        font-size: 1.5rem;
        margin-left: .5rem;
    }
}

.menu-item {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-left: .5rem;

    & .icon {
        height: 75%;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--button-hover-bg-color);
    }
}

/* Feed styles */

.feed-list {
    > .list-item {
        gap: 1rem;
    }
}

.posted-by {
    display: flex;
    align-items: center;
    gap: 1rem;

    > .authority {
        cursor: pointer;
        font-size: 1rem;
    }

    > .posted-by-img {
        width: 2rem;
    }
}

.item-name {
    font-size: 1.3rem;

    > .item-link {
        color: var(--link-color);
    }

    > .item-host {
        font-size: 1rem;
        color: var(--item-attribution-color);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.tag {
    font-size: .7rem;
    background-color: var(--tag-bg-color);
    border-radius: 10px;
    padding: .2rem .5rem;
    cursor: pointer;
}

.item-body {
    background-color: var(--item-body-bg-color);
    border-radius: .5rem;
    overflow: hidden;

    & .item-img {
        width: 100%;
    }

    > .item-desc {
        padding: .5rem;
    }
}

.activities-summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.activity-buttons {
    --br-value: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    > .attachment-wrapper {
        display: flex;
    }

    > .action-button {
        --icon-size: 1.5rem;
    }

    > .edit-button {
        --icon-size: 1.5rem;
        display: flex;
        align-items: center;
        padding: .2rem;
        border-radius: var(--br-value, 1rem);

        > .action-img {
            width: 1.3rem;
        }
    }
}

.action-wrapper {
    --icon-size: 1.2rem;
    display: flex;
    
    > .action-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;
        padding: .2rem .5rem;
        border: var(--border-size) solid var(--border-color);
        border-top-left-radius: var(--br-value, 1rem);
        border-bottom-left-radius: var(--br-value, 1rem);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .action-toggle-button {
        display: flex;
        align-items: center;
        padding: .2rem .2rem;
        border: var(--border-size) solid var(--border-color);
        border-left: none;
        border-top-right-radius: var(--br-value, 1rem);
        border-bottom-right-radius: var(--br-value, 1rem);
    }

    & .action-img {
        width: 1.1rem;
    }
}

.action-highlight {
    --icon-color: var(--action-highlight-color);
}

.item-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .8rem;

    & .expand-button {
        --icon-size: 1.8rem;
        flex-direction: row-reverse;
        margin-right: auto;
        border-radius: 10rem;
        padding-inline: .5rem;
    }
}

.item-comment {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    --icon-size: 1.5rem;

    & .comment-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1rem;
        border-radius: 10rem;
    }
}

.item-attribution {
    --icon-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    color: var(--item-attribution-color);
}

.item-comment-text {
   background-color: var(--comment-color);
   padding: .5rem .5rem;
   border-radius: 1rem;
}

.own-comment {
    background-color: var(--own-comment-color);
}

.replies {
    margin-left: 1rem;
}

.action {
    color: var(--link-color);
}

.item-desc-edit {
    width: 100%;
    height: 200px;
}

.item-comment-edit {
    background-color: var(--bg-color);
    padding: 10px;
    padding-left: 8px;
    padding-right: 14px;
    border-radius: 10px;
 }
 
.comment-edit-control {
    margin-bottom: .5rem;
}

.comment-text-edit {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    resize: vertical;
}

.text-area {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 90px;
    resize: vertical;
}

.activity-item {
    font-size: 14px;
}

.delete-entity {
    cursor: pointer;
}

.tag-cell {
    padding: 3px;
}

.item-tag {
    padding-top: 8px;
}

.error {
    color: var(--caution-color);
}

.delete-button {
    float: right;
}

.delete-button {
    color: var(--caution-color);
}

.tags-edit-control {
    margin-top: 10px;
}

/* Peer Styles */

.peer-img {
    width: 6rem;
}

.peer-field {
    width: 0px;
}

.id, .key, .uri{
    font-family: "Lucida Console", "Courier New", monospace;
}

.peer-info {
    width: 100%;
}

input.input-text {
    font-size: 1rem;
    padding: .1rem .5rem;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 1rem;

    &:disabled {
        color: var(--disabled-color);
    }
}

.no-wrap {
    white-space: nowrap;
}

.edit-control-buttons {
    margin-top: 10px;
}

.preview-img {
    width: 95%;
    max-width: 100%;
}

.attachment-preview {
    font-size: small;
}

.preview-images {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--app-background-color);
}

/* Peers styles */

.peer-list .list-item {
    gap: 2rem;
    > .peer-info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & .edit-button {
        margin-top: 10px;
        margin-right: auto;
    }
}

/* Persona styles */

.persona-list .list-item {
    gap: 2rem;
    > .peer-info {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & .edit-button {
        margin-top: 10px;
        margin-right: auto;
    }
}

/* settings styles */

.settings-categories {
    display: flex;

    > .settings-category {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    > .category-selector {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}

.setting-row {
    display: flex;
    align-items: center;
    width: 20%;
    
    > .setting-title {
        width: 20rem;
    }
}

/* Used by the SimpleMDE component */
.CodeMirror, .CodeMirror-scroll {
	min-height: 100px;
    color: var(--text-color);
    background-color: var(--item-bg-color);
}

.CodeMirror {
    border: var(--border-size) solid var(--border-color);
}

.editor-toolbar {
    border-top: var(--border-size) solid var(--border-color);
    border-right: var(--border-size) solid var(--border-color);
    border-left: var(--border-size) solid var(--border-color);

    a {
        color: var(--text-color);
    }

    a:hover {
        color: var(--text-color-alternate);
    }
}