body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-header {
    margin-bottom: 20px;
}

.feed {
    border: 10px;
}

.feed-item {
   margin-bottom: 50px;
}

/* Clear floats after the columns */
.feed-item:after {
  content: "";
  display: table;
  clear: both;
}

.item-img-box {
    float: left;
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
    background: #F0F0F0;

}

.item-img {
    height: 100px;
}

.item-link {
    text-decoration: none;
    font-size: 120%;
}

.action-img {
    width: 15px;
    height: 15px;
}

