.search-header {
    margin-bottom: 10px;
}

.feed {
    border: 10px;
}

.feed-item {
   margin-bottom: 10px;
   height: 200px;
                   
}

.item-img {
    height: 150px;
    float: left;
    margin-right: 10px;
}

.action-img {
    width: 15px;
    height: 15px;
}

